* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav .hamburgerMenu {
    display: none;
    font-size: 20pt;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #fff;
    background-color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: fantasy;
    padding-top: 3.5rem;
    font-size: 14pt;
}

.dropButton {
    font-size: 20pt;
    margin-top: -3rem;
}

nav ul li a:hover,
.hamburgerMenu:hover .dropButton {
    color: #fff;
    animation: none;
    background-color: #000;
}

.dropDownContent {
    display: none;
    position: absolute;
    background-color: #000;
    width: 7rem;
    height: 11rem;
    margin-left: 0;
    margin-top: 1px;
}

.dropDownContent a {
    color: #fff;
    padding: 16px 22px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropDownContent a:hover {
    background-color: #f1f1f1;
    color: #000;
}

.hamburgerMenu:hover .dropDownContent {
    display: block;
}

nav {
    width: 100vw;
    display: flex;
    background-color: #000;
    height: 7vh;
    align-items: center;
    padding-left: 15vw;
    margin: 0;
    position: fixed;
    z-index: 2;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 14px 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 1rem;
    text-align: center;
}

nav a:hover {
    background-color: #fff;
    color: black;
    border-radius: 25px;
}

img[alt="myIcon"] {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-bottom: 11px;
    right: 19%;
    position: absolute;
}

nav div .myName {

    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 19px;
    margin-top: -13px;
    color: white;
    text-shadow: 10px #ccc;

}

nav div {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: 42vw;
}

.headContent {
    background-image: url(../GALLERY/bgcImage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    width: 100vw;
    text-align: center;
    padding-top: 14vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headContent h1 {
    color: white;

}

.headContent p {
    color: white;
    width: 80vh;
    text-align: center;
    margin: 0 auto;
}

.logo {
    width: 100vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 40px 40px 40px 40px;
    margin-top: 40px;

    /* Grid Areas */

    grid-template-areas: "header header header header";
    ;
}

img[alt="HtmlLogo"] {
    height: 50px;
    width: 50px;
    right: 70%;
    position: absolute;
}

img[alt="CssLogo"] {
    height: 50px;
    width: 50px;
    right: 55%;
    position: absolute;
}

img[alt="BootstrapLogo"] {
    height: 50px;
    width: 50px;
    right: 40%;
    position: absolute;
}

img[alt="JavaScriptLogo"] {
    height: 50px;
    width: 50px;
    right: 25%;
    position: absolute;
}

.phoneAbout {
    display: none;
}

.section .container-card {
    text-align: center;
    position: fixed;
}

img[alt="Me"] {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-bottom: 11px;
    right: 35%;
    position: absolute;
}


.container {
    display: none;
    width: 80vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 70px 230px 350px 70px;
    gap: 20px;
    padding-top: 6rem;



    /* Grid Areas */

    grid-template-areas:
        "header header header header"
        "box1 box2 box3 aside"
        "main main main aside"
        "footer footer footer footer"
    ;

}

.item {
    background-color: rgb(206, 203, 203);
    padding: 20px;



}

.header {
    grid-area: header;
    border: 3px solid black;
    text-align: center;
}

.box1 {
    grid-area: box1;
    border: 3px solid rgb(232, 161, 48);
    overflow: auto;
}

.box2 {
    grid-area: box2;
    border: 3px solid darkgreen;
}

.box3 {
    grid-area: box3;
    border: 3px solid blue;
    overflow: auto;
}

.aside {
    grid-area: aside;
    border: 3px solid red;
    overflow: auto;
}

.main {
    grid-area: main;
    border: 3px solid purple;
    overflow: auto;
}

.footer {
    grid-area: footer;
    border: 3px solid black;
    text-align: center;
}

.cv a[download="./rarfiles/Noam Project.zip"] {
    display: block;
    text-decoration: none;
    width: 12rem;
    margin: 0 auto;
    padding: 6px 8px;
    font-family: cursive;
    margin-top: 1rem;
    color: #000;
    font-weight: 600;
    height: 3rem;
    background-color: darkslategrey;
}

a[download="./rarfiles/Noam Project.zip"] {
    background:
        linear-gradient(to right,
            rgba(100, 200, 200, 1),
            rgba(100, 200, 200, 1)),
        linear-gradient(to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1));
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

a[download="./rarfiles/Noam Project.zip"]:hover {
    background-size: 0 3px, 100% 3px;
}

.d-flex {
    grid-row: auto;
}

#contactSection {
    display: flex;
    background-color: black;
}

.container-img {
    width: 60vw;
}

.container-img>img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.container-form {
    width: 40vw;
    display: flex;
    flex-direction: column;
    padding: 5em;
    color: #fff;
}

.container-form-title {
    width: 80%;
}

.text {
    height: 8vw;
}

.submit {
    background-color: #1369ea;
    color: #fff;
    height: 3vw;
}

.down {
    width: 100vw;
    height: 5vw;
    margin: 0 auto;
    background-color: #ffffff;
    padding-left: 22rem;
    padding-top: 1rem;
}


.copyright {
    width: 100vw;
    display: flex;
    background-color: #ffffff;
    height: 3vh;
    align-items: center;
    /*   padding-left: 15vw; */
    margin: 0;
    position: absolute;
    z-index: 2;
}

.copyright {
    background-color: black;
    color: #fff;
}

div>.privacy {
    padding-left: 80rem;
}