* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav .hamburgerMenu {
    display: none;
    font-size: 20pt;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: #fff;
    background-color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: fantasy;
    padding-top: 3.5rem;
    font-size: 14pt;
}

.dropButton {
    font-size: 20pt;
    margin-top: -3rem;
}

nav ul li a:hover,
.hamburgerMenu:hover .dropButton {
    color: #fff;
    animation: none;
    background-color: #000;
}

.dropDownContent {
    display: none;
    position: absolute;
    background-color: #000;
    width: 7rem;
    height: 11rem;
    margin-left: 0;
    margin-top: 1px;
}

.dropDownContent a {
    color: #fff;
    padding: 16px 22px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropDownContent a:hover {
    background-color: #f1f1f1;
    color: #000;
}

.hamburgerMenu:hover .dropDownContent {
    display: block;
}

nav {
    width: 100vw;
    display: flex;
    background-color: #000;
    height: 7vh;
    align-items: center;
    padding-left: 15vw;
    margin: 0;
    position: fixed;
    z-index: 2;
}

nav a {
    display: block;
    text-decoration: none;
    padding: 14px 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 1rem;
    text-align: center;
}

nav a:hover {
    background-color: #fff;
    color: black;
    border-radius: 25px;
}

img[alt="myIcon"] {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    margin-bottom: 11px;
    right: 19%;
    position: absolute;
}

nav div .myName {

    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 19px;
    margin-top: -13px;
    color: white;
    text-shadow: 10px #ccc;

}

nav div {
    display: flex;
    align-items: center;
    margin-top: 16px;
    margin-left: 42vw;
}

.headContent {
    background-image: url(../GALLERY/bgcImage.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 55vh;
    width: 100vw;
    text-align: center;
    padding-top: 14vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.headContent h1 {
    color: white;

}

.headContent p {
    color: white;
    width: 80vh;
    text-align: center;
    margin: 0 auto;
}

.logo {
    width: 50vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 40px 40px 40px;
    margin-top: 40px;


    /* Grid Areas */

    grid-template-areas:
        "header header header"
    ;
}

img[alt="HtmlLogo"] {
    height: 50px;
    width: 50px;
    /* margin-bottom: 11px; */
    right: 63%;
    position: absolute;
}

img[alt="CssLogo"] {
    height: 50px;
    width: 50px;
    /* margin-bottom: 1px; */
    right: 48%;
    position: absolute;
}

img[alt="BootstrapLogo"] {
    height: 50px;
    width: 50px;
    /* margin-bottom: 11px; */
    right: 33%;
    position: absolute;
}

.phoneAbout {
    display: none;
}

section {
    width: 100vw;
    height: 60vw;
    background: #EBFEFF 0% 0% no-repeat padding-box;
}

.screen-capture>a>img {
    margin-top: 10%;
    margin-left: 10%;
    width: 80vw;
    height: 40vw;
    box-shadow: 0px 0px 40px #00000066;
    opacity: 1;
}

.copyright {
    width: 100vw;
    display: flex;
    background-color: #ffffff;
    height: 3vh;
    align-items: center;
    /*   padding-left: 15vw; */
    margin: 0;
    position: absolute;
    z-index: 2;
}

.copyright {
    background-color: black;
    color: #fff;
}

div>.privacy {
    padding-left: 80vw;
}