/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 380px) {
    .pink {
        height: 40vh;
    }

    .form {
        width: 85vw;
        height: 77vh;
        padding-top: 2rem;
        padding-right: 1.8rem;
        margin-right: 1.7rem;
    }

    .form h1 {
        width: 270px;
        height: 90px;
        padding: 3rem;
        font-size: 22pt;
        margin-top: -2rem;
    }

    .form p {
        width: 220px;
        height: 50px;
        text-align: center;
        padding-right: 1rem;
        padding-top: 3.5rem;
        margin-right: 0.6rem;
    }

    form {
        margin-right: -0.4rem;
    }

    form input[type="text"] {
        width: 220px;
        height: 30px;
        display: flex;
    }

    form input[type="email"] {
        width: 220px;
        height: 30px;
        display: flex;
    }

    .form-submit {
        margin-top: -2.8rem;
    }

    .form-submit input {
        width: 80px;
        height: 35px;
        padding-right: 0.75rem;
        margin-top: -20rem;
        font-size: 12pt;
    }
}

@media (max-width: 420px) {
    .pink {
        height: 40vh;
    }

    .form {
        width: 85vw;
        height: 60vh;
        padding-top: 2rem;
        padding-right: 1.8rem;
        margin-right: 1.7rem;
    }

    .form h1 {
        width: 270px;
        height: 90px;
        padding: 3rem;
        font-size: 22pt;
        margin-top: -2rem;
    }

    .form p {
        width: 220px;
        height: 50px;
        text-align: center;
        padding-right: 1rem;
        padding-top: 3.5rem;
        margin-right: 0.6rem;
    }

    form {
        margin-right: -0.4rem;
    }

    form input[type="text"] {
        width: 220px;
        height: 30px;
        display: flex;
    }

    form input[type="email"] {
        width: 220px;
        height: 30px;
        display: flex;
    }

    .form-submit {
        margin-top: -2.8rem;
    }

    .form-submit input {
        width: 80px;
        height: 35px;
        padding-right: 0.75rem;
        margin-top: -20rem;
        font-size: 12pt;
    }
}